In [23]:
def taille(arbre, lettre):
    '''
    >>>a = {'F':['B','G'], 'B':['A','D'], 'A':['',''], 'D':['C','E'], \
    'C':['',''], 'E':['',''], 'G':['','I'], 'I':['','H'], \
    'H':['','']}
    >>>taille(a, 'F')
    9
    >>>taille(a, 'B')
    5
    >>>taille(a, 'I')
    2
    '''
    if lettre == '':
        return 0
    gauche = arbre[lettre][0]
    droit = arbre[lettre][1]
    return 1 + taille(arbre, gauche) + taille(arbre, droit)

In [24]:
a = {'F':['B','G'], 'B':['A','D'], 'A':['',''], 'D':['C','E'], \
'C':['',''], 'E':['',''], 'G':['','I'], 'I':['','H'], \
'H':['','']}
taille(a, 'F')

9

In [25]:
taille(a, 'B')

5

In [26]:
taille(a, 'I')

2

In [43]:
def echange(tab, i, j):
    '''Echange les éléments d'indice i et j dans le tableau tab.'''
    temp = tab[i]
    tab[i] = tab[j]
    tab[j] = temp

def tri_selection(tab):
    '''Trie le tableau tab dans l'ordre croissant
    par la méthode du tri par sélection.
    >>> tab = [41, 55, 21, 18, 12, 6, 25]
    >>> tri_selection(tab)
    >>> tab
    [6, 12, 18, 21, 25, 41, 55]
    '''
    N = len(tab)
    for k in range(N):
        imin = k
        for i in range(k,N):
            if tab[i] < tab[imin]:
                imin = i
        echange(tab, k, imin)

In [44]:
tab = [41, 55, 21, 18, 12, 6, 25]
tri_selection(tab)
tab

[6, 12, 18, 21, 25, 41, 55]